* {
	margin: 0;
} /* remove all margins from the whole app */

.app {
	background-color: #fafafa;
	height: 100vh;
}

.app_header {
	background-color: white;
	padding: 20px;
	border-bottom: 1px solid lightgray;
	object-fit: contain;
}
