.post {
	max-width: 500px;
	background-color: white;
	border: 1px solid lightgray;
	margin-bottom: 45px;
}

.post_image {
	width: 100%;
	object-fit: contain; /* the image automaticaly shrinks to the appropriate size according to the screen width */
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.post_text {
	font-weight: normal;
	padding: 21px;
}

.post_header {
	display: flex;
	align-items: center;
	padding: 20px;
}

.post_avatar {
	margin-right: 10px;
}

.post_commentBox {
	display: flex;
	margin-top: 10px;
}

.post_input {
	flex: 1;
	/* Input and button are two parts of the form.
		Giving input a flex of 1, and giving button a flex of 0
		says that input should take as much space as possible
		and the button should take as little space as possible. */
	border: none;
	padding: 10px;
	border-top: 1px solid lightgray;
}

.post_button {
	flex: 0;
	/* Input and button are two parts of the form.
		Giving input a flex of 1, and giving button a flex of 0
		says that input should take as much space as possible
		and the button should take as little space as possible. */
	border: none;
	color: #6082a3;
	background-color: transparent;
	border-top: 1px solid lightgray;
}
