.post {
	max-width: 500px;
	background-color: white;
	border: 1px solid lightgray;
	margin-bottom: 45px;
}

.post_image {
	width: 100%;
	object-fit: contain; /* the image automaticaly shrinks to the appropriate size according to the screen width */
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.post_text {
	font-weight: normal;
	padding: 21px;
}

.post_header {
	display: flex;
	align-items: center;
	padding: 20px;
}

.post_avatar {
	margin-right: 10px;
}
